body {
	font-family: sans-serif;
	height: 100vh;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	width: 100vw;
}

#content {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

#content > #form {
	border-left: 1px dashed #cccccc;
	padding: 10px;
	width: 20%;
}

#content > #chainmail {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 80%;
}
