/*
  Todo:
    - mm css units
      - font size mm at root? rem/em?
    - select wire gauge
    - select inner diameter
    - save progress
*/

.ring-container {
    border-color: sandybrown;
    outline: 1px solid #888888;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#chainmail-container.explode-outline-offset .ring-container {
    transition: outline-offset 5s ease-in-out;
    outline-offset: 1000px;
}

.ring-partial {
    border-color: inherit;
    overflow: hidden;
    height: 16.66667px;
    width: 100px;
}

.ring {
    border-color: inherit;
    border-radius: 50%;
    border-style: solid;
    border-width: 9px;
    height: 32px;
    outline: 1px solid #888888;
    outline-offset: -9px;
    width: 32px;
}

#chainmail-container.explode-outline-offset .ring {
    transition: outline-offset 5s ease-in-out;
    outline-offset: 1000px;
}

.ring-partial .ring {
    position: relative;
}

.ring-partial.ring-partial_top .ring {
    z-index: 100;
}

.ring-partial.ring-partial_middle .ring {
    margin-top: -16.66667px;
    z-index: 0;
}

.ring-partial.ring-partial_bottom .ring {
    margin-top: -33.33333px;
    z-index: -100;
}

/* reverse the z-index rules above */
.row:nth-child(even) .ring-container .ring-partial.ring-partial_top .ring {
    z-index: -100;
}

.row:nth-child(even) .ring-container .ring-partial.ring-partial_bottom .ring {
    z-index: 100;
}
